{% extends 'VolleyUp/base.html' %}
{% block content %}

<div class="text-center">
    <h3>Informacje gdzie znajduje się sala:</h3><br>
    <p>
        Sesame snaps chocolate soufflé. Topping lemon drops gingerbread sweet roll icing. Candy canes icing dragée.
        Jujubes pastry dessert apple pie jelly beans pie candy canes. Muffin brownie halvah jelly beans tart. Dessert
        cookie bonbon fruitcake toffee candy canes. Powder lemon drops brownie tootsie roll marzipan ice cream pudding.
        Cheesecake halvah muffin tart cheesecake macaroon bear claw dragée halvah. Croissant powder soufflé sweet roll.
        Cake tiramisu jelly-o. Carrot cake oat cake topping sweet macaroon bonbon icing apple pie. Pudding croissant
        jujubes brownie candy canes caramels fruitcake.
    </p>
</div>

{% endblock %}