{% extends 'VolleyUp/base.html' %}
{% block content %}

<div class="text-center">
    <h3>Regulamin treningów:</h3><br>
    <p>
      Biscuit chocolate cake dragée gingerbread ice cream. Tiramisu cookie bear claw cake
      oat cake biscuit cheesecake ice cream icing. Bear claw jelly toffee chocolate cake pudding donut chupa
      chups. Powder danish pastry cotton candy tiramisu fruitcake chocolate bar. Lollipop danish tootsie roll
      bear claw marshmallow carrot cake cake. Muffin chocolate bar jujubes powder icing. Marzipan powder biscuit
      pudding macaroon dragée dessert marzipan gummi bears. Icing pudding gingerbread jelly. Muffin cookie
      pastry jelly beans jujubes gummi bears danish. Marzipan jelly beans gummi bears toffee. Candy canes
      macaroon chupa chups. Wafer pie halvah toffee apple pie. Sweet roll carrot cake sweet ice cream chocolate
      biscuit jelly beans icing topping.
    </p>
</div>

{% endblock %}