{% extends 'VolleyUp/base.html' %}
{% block content %}

    <div class="text-center">
            <b>Imię i nazwisko:</b> {{ user.first_name }} {{ user.last_name }}<br>
            <b>Email:</b> {{ user.email }}<br>
            <b>Numer telefonu:</b> {{ user.phone_number }}<br>
            <b>Rok urodzenia:</b> {{ user.birth_date }}<br>
            <b>Płeć:</b> {{ user.get_sex_display }}<br>
            <b>Organizacja:</b> {% for org in user.organization.all %} {{ org }} {% endfor %}<br>
            <b>Poziom:</b> {{ user.get_level_display }}<br>
            <button class="btn btn-info"><a href="/edit_user/{{ user.pk }}">Zmień dane</a></button><br>
            <button class="btn btn-info"><a href="/change_password/{{ user.pk }}">Zmień hasło</a></button>
    </div>

{% endblock %}